@model Axh.Wedding.Application.ViewModels.Rsvp.RsvpPageViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Please check details for all wedding guests in your party.</p>

            @using (Html.BeginForm(MVC.Rsvp.Index(), FormMethod.Post, new { }))
            {
                <div data-bind="foreach: { data: Guests(), as: 'guest' }">
                    
                    <input type="hidden" data-bind="value: guest.GuestId, attr: { id: guest.HtmlId + '_Id', name: guest.HtmlName + '.Id' }" />
                        
                    <fieldset>
                        <legend>Guest <span data-bind="text: (guest.Id + 1)"></span></legend>
                        <div class="control-group">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="First name" data-bind="value: guest.FirstName, attr: { id: guest.HtmlId + '_FirstName', name: guest.HtmlName + '.FirstName' }" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="controls">
                                        <input type="text" class="form-control" placeholder="Surname" data-bind="value: guest.Surname, attr: { id: guest.HtmlId + '_Surname', name: guest.HtmlName + '.Surname' }" />

                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    

                </div>

                <div class="row">
                    <div class="form-group col-xs-12">
                        <div class="btn btn-default">Send</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
