@import "variables.less";
@import "mixins.less";

// Global Components

body {
	.serif;
	font-size: 20px;
	color: @gray-dark;
}

// -- Typography

p {
	line-height: 1.5;
	margin: 30px 0;
	a {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	.sans-serif;
	font-weight: 800;
}

h4,
h5,
h6 {
    font-weight: 600;
    color: @gray;
}

a {
	color: @gray-dark;
	&:hover,
	&:focus {
		color: @brand-primary-dark;
	}
}

a img {
	&:hover,
	&:focus {
		cursor: zoom-in;
	}
}

blockquote {
	color: @gray;
	font-style: italic;
}


// Navigation

.navbar-custom {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	.sans-serif;

    .navbar-brand
    {
		font-weight: 800;
        color: @gray;

        &:hover,
		&:focus {
			color: @brand-primary-dark;
		}

        @media only screen and (min-width: 768px)
        {
            padding: 20px;
        }
	}

	.nav {
		li {
			a {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 800;
				letter-spacing: 1px;
                color: @gray;

                &:hover,
				&:focus {
					color: @brand-primary;
				}
                
                @media only screen and (min-width: 768px)
                {
                    padding: 20px;
                }
			}
		}
	}

	@media only screen and (min-width: 768px)
    {
		background: transparent;
		border-bottom: 1px solid transparent;

        .light
        {
            .navbar-brand
            {
                color: white;
                &:hover,
				&:focus {
					color: @brand-primary;
				}
            }
            .nav {
			    li {
				    a {
					    color: white;
                        &:hover,
				        &:focus {
					        color: @brand-primary;
				        }
				    }
			    }
		    }
        }
	}

	@media only screen and (min-width: 1170px)
    {
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&.is-fixed {
			/* when the user scrolls down, we hide the header right above the viewport */
			position: fixed;
			top: -61px;
			background-color: fade(white, 90%);
			border-bottom: 1px solid darken(white, 5%);
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			transition: transform 0.3s;
		}
		&.is-visible {
			/* if the user changes the scrolling direction, we show the header */
			-webkit-transform: translate3d(0, 100%, 0);
			-moz-transform: translate3d(0, 100%, 0);
			-ms-transform: translate3d(0, 100%, 0);
			-o-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);

            .navbar-brand
            {
                color: @gray;
            }
            .nav {
			    li {
				    a {
					    color: @gray;
				    }
			    }
		    }
		}
	}
    
}

// Header

.intro-header {
	background-color: @gray; 
	background: no-repeat center center; 
	background-attachment: scroll;
	.background-cover;

    .site-heading, .login-heading
    {
		padding: 100px 0 50px 0;
		color: white;
        text-align: center;

        &.big
        {
            padding: 150px 0 50px 0;
        }
        
		h1
        {
			margin-top: 0;
			font-size: 50px;
		}

		.subheading
        {
			font-size: 24px;
			line-height: 1.1;
			display: block;
			.sans-serif;
			font-weight: 300;
			margin: 10px 0 0;
		}

        hr
        {
            display: block;

            &.small
            {
                max-width: 100px;
	            margin: 15px auto;
	            border-width: 4px;
	            border-color: white;
            }
        }
        
        @media only screen and (max-width: 500px)
        {
            margin-top: 50px;

            &.big
            {
                padding: 200px 0 50px 0;
            }
        }

        @media only screen and (min-width: 768px)
        {
            margin-top: 90px;
            padding: 150px 0 150px 0;

            &.big
            {
                padding: 250px 0 250px 0;
            }

            h1   
            {
                font-size: 80px;
            }
        }        
    }

    .login-heading
    {
        padding-top: 300px;

        @media only screen and (max-width: 500px)
        {
            padding-top: 250px;
        }
    }

    .site-heading
    {
        @media only screen and (max-width: 500px)
        {
            .subheading
            {
                display: none;
            }

            hr
            {
                display: none;
            }
        }
    }
	
}

.map-canvas
{
    width: 100%;
    min-width:100%;
    height: 400px;
}


footer {
	padding: 50px 0 65px;
	.list-inline {
		margin: 0;
		padding: 0;
	}
	.copyright {
		font-size: 14px;
		text-align: center;
		margin-bottom: 0;
	}
}

.form-rsvp
{
    legend.form-inline
    {
        span.legend-block
        {
            display: block;
            margin-bottom: 5px;
        }
    }
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-control
    {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 1em;
    }

    .form-control:focus
    {
        z-index: 2;
    }

    input[type="text"]
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"]
    {
        margin-bottom: @margin;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .btn
    {
        color: white;
        background-color: @black-transparent;
        border: 1px solid @black-transparent-80;

        &:hover, &:focus {
		    background-color: @black-transparent-40;
		    border-color: @black-transparent-70;
            outline: none;
	    }
    }

    .popover {
        min-width: 250px;
    }
}

.form-signin-bg
{
    color: white;
    background-color: @black-transparent-40;
    max-width: 330px;
    margin: 0 auto;
}


// Button Styles

.btn {
	.sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	border-radius: 0;
	padding: 15px 25px;
}

.btn-hi {
	font-size: 16px;
	padding: 25px 35px;
}

.btn-default {
	&:hover,
	&:focus {
		background-color: @brand-primary-dark;
		border: 1px solid @brand-primary-dark;
		color: white;
        outline: none;
	}
}

.btn-dark
{
    color: white;
    background-color: @black-transparent-40;
    &:hover,
    &:focus {
        color: #fff;
        background-color: @black-transparent-70;
        outline: none;
    }
}

// -- Highlight Color Customization

::-moz-selection {
	color: white;
	text-shadow: none;
	background: @brand-primary-dark;
}

::selection {
	color: white;
	text-shadow: none;
	background: @brand-primary-dark;
}

.popover-content
{
    color: @gray-dark;
}

img::selection {
	color: white;
	background: transparent;
}

img::-moz-selection {
	color: white;
	background: transparent;
}

body {
	-webkit-tap-highlight-color: @brand-primary-dark;
}


.selectable
{
    cursor: pointer;
}

.margin-top
{
    margin-top: @margin;
}

.margin-right-tiny
{
    margin-right: @margin-tiny;
}

.margin-bottom
{
    margin-bottom: @margin;
}

.margin-bottom-large
{
    margin-bottom: @margin-large;
}

.font-large
{
    font-size: @font-large;
}

.font-small
{
    font-size: @font-small;
}

.padding-right
{
    padding-right: @padding;
}

.padding-bottom
{
    padding-bottom: @padding;
}

.subtle
{
    color: @gray;
    font-style: italic;
}

.bg-light
{
    color: @gray;
    background-color: @brand-primary;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.full-width
{
    width: 100%;
}

