// Variables

@brand-primary: #DEA5A4;
@brand-secondary: #F47E7D;
@brand-tertiary: #E0C7A8;

@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;

@margin: 20px;