@using Axh.Wedding.Application.ViewModels.Admin
@model AdminPageViewModel


<div class="container">
    @for (var i = 0; i < Model.Users.Count(); i++)
    {
        var index = i;
        var user = Model.Users.ElementAt(i);

        <div class="row">
            @using (Html.BeginForm(MVC.Admin.Index(), FormMethod.Post, new { @class= "form-horizontal" }))
            {

                @Html.HiddenFor(m => m.Users.ElementAt(index).UserId)
                <fieldset>
                    <legend>
                        @Html.Raw(user.UserName)
                    </legend>
                    
                    <div class="control-group">
                        
                        @Html.LabelFor(m => m.Users.ElementAt(index).IsAdmin, new { @class = "checkbox" })
                        @Html.CheckBoxFor(m => m.Users.ElementAt(index).IsAdmin, new { @class = "checkbox" })
                    </div>
                    
                </fieldset>
            }
        </div>
    }
</div>