@using Axh.Wedding.Mvc.Infrastructure.Helpers
@using Axh.Wedding.Resources
@model Axh.Wedding.Application.ViewModels.Home.InformationPageViewModel


<div class="container margin-bottom">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="fa fa-map-marker padding-right"></span>@Resources.InformationPage_GettingThere</h2>
            <h4>That's right, we changed the venue...</h4>
            <p>We'll be getting married at a lovely little place called Goosedale. It's in Papplewick, which is about a 30 minute drive from Chesterfield. Just off of Junction 27 on the M1.</p>
        </div>
    </div>
</div>

<div class="row margin-bottom-large">
    <div class="col-md-12">
        <div id="map-canvas"></div>
    </div>
</div>

<div class="container margin-bottom">
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.FormatAddress(m => m.VenueAddress, m => m.VenuePhone)
        </div>
    </div>
</div>



