@model Axh.Wedding.Application.ViewModels.Page.PageViewModelBase

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="@Model.ApplicationTitle - @Model.ApplicationSubTitle">
<meta name="author" content="Alex Haslehurst">

<title>@Model.ApplicationTitle - @Model.Header.PageLink</title>